#Gradle
bin/
build/
local.properties
.gradle/

# Default output dir
**/out-html/
**/out-download/

# Node
**/node_modules

# OS X
.DS_Store

# Velocity template engine
velocity.log

# IntelliJ IDEA
*.iml
.idea/

# Eclipse
**/.classpath
**/.project
**/.settings
